
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50; /* Couleur de fond */
    color: white;
    padding: 10px 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

main {
    padding: 20px;
}

.centered-title {
    text-align: center; /* Centre le texte pour les titres */
    margin-bottom: 20px; /* Espace en dessous du titre */
}

section {
    margin-bottom: 40px;
}

.centered-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre le contenu de cette section */
}

form {
    width: 100%; /* Ajuste la largeur du formulaire */
    max-width: 400px; /* Limite la largeur du formulaire */
}

input, textarea {
    width: 100%; /* Prend toute la largeur de son conteneur */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
}